.cover__link {
    margin-top: 45px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffff;
    background-color: #0278FE;
    width: 137px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.cover__link:hover {
    background-color: #0063D2;
}