.intro__text{
    width: 758px;
    height: 170px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.intro__text:last-of-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 720px;
    height: 208px;
}